
.page{
    margin: 20px 60px;
}
.top{
    width: 100%;
    padding-bottom: 3vw;
    gap: 30px;
}
.image_slider{
    width: 738px;
    height: 386px;
    border-radius: 20px;
    overflow: hidden;

}
.image_slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.context{
    display: flex;
    align-items: flex-start;
    width: 40%;
}
.context h2{
    margin-top: 10px;
    font-size: 60px;
    font-weight: 700;
}
.context p{
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0 30px 0;
    color: rgb(0, 0, 255);
}
.context h3{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
}
.context li{
    margin: 10px 0 5px 0;
}
.context span{
    margin-left: 15px;
    margin-right: 5px;
}
.main{
    width: 100%;
    position: relative;
    display: flex;
    padding-bottom: 5vw;
    gap: 30px;
}
.tour_plan h2{
    font-size: 37px;
    font-weight: 600;
}

.context ul {
    list-style: none;
    padding: 0;
  }
  
  .context ul li {
    margin-bottom: 0.5rem;
  }
  
  .tour_plan h2 {
    font-size: 30px;
    font-weight: 500;
  }
  
  .day {
    margin-top: 1.5rem;
  }
  
  .day h3 {
    font-size: 1.25rem;
    margin-top: 0;
  }
  
  .day p {
    margin-top: 0.5rem;
  }
  .main {
    justify-content: space-between;
    display: flex;

  }
  .book{
    width: 500px;
    padding-top: 54px;
  }
  .book h2{
    font-size: 25px;
    font-weight: 600;
  }

@media screen and (max-width: 768px) {
  .image_slider{
    width: 100%;
    height: 285px;
  }
  .context{
    width: 100%;
  }
  .main{
    flex-direction: column;
  }
  .tour_plan h2{
    margin-top: 20px;
  }
  .book {
    width: 100%;
  }
}  
