.slide {
  /* Your base styles for slides */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Initially hide slides */
  transition: opacity 0.5s ease; /* Transition effect for opacity */
  /* background-repeat: no-repeat; */
}
.hero {
  /* background: #000; */
  /* color: red; */
}
.active {
  opacity: 1; /* Make active slide fully visible */
}

.mobile-menu {
  background-color: #000;
  z-index: 999999999999999999;
}

html, body {

  overflow: auto;
}
